/*.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fdc377a8;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fe6666d2;
}

p {
  font-size: 2rem;
  color: #cd3131e3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #e63030;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}*/
body {
  background-color: #fdc377a8;
}
.f-cont{
  display: flex;
  justify-content: center;
  
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 70%;
  gap: 0px;
  margin: 0px;
  padding: 0px;
}
.heade{
  margin: 0px;
  padding: 0px;
   grid-area: 1/1/2/-1;
   text-align: center;
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #fe6666d2;
  min-width: 50%;
}
h1{
  margin: 30px;
  padding: 0px;
}

.dice{
  text-align: center;
  font-size: 2rem;
  color: #cd3131e3;
  font-family: 'Indie Flower', cursive;
}

img{
  max-width: 80%;
}

@media (max-width: 768px){
  .heade{
    font-size: 2.25rem;
  }
  .dice{
    font-size: 1.5rem;
  }
}

footer{
  margin-top: 50%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #cd3131e3;
  font-weight: bolder;
}

